.subir{
    padding: 5px 10px;
    background-color: rgb(86, 61, 124);
    color:#fff;
    border: 1px solid #fff;
    border-radius: 5%;
    cursor: pointer;
}
 
.subir:hover{
    color: rgb(22, 3, 61);
    background-color: orange;
}
#file-upload{
    display: none;
}
#identificacion{
    display: none;
    background-color: rgb(22, 3, 61);
}
#identificacion .card{
    background-color: rgb(233, 236, 239);
}
#identificacion input{
    height: 2.5em;
}
.bg-color{
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
}
.bg-other{
    background-color: rgb(208, 185, 253);
}
.bg-audios{
    background: linear-gradient(to bottom, rgb(163, 73, 164), rgb(86, 61, 124));
}
.header-bg{
    background-color: rgb(86, 61, 124);
}
.image-bg{
    background-color: rgb(255,255,255);
    cursor: pointer;
}
.image-bg:hover{
    animation-name: header-img-anim;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
.header-text{
    color: rgb(240,240,240);
    font-family: loaded;
}
.header-text:hover{
    animation-name: header-text-anim;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;

}
.image-adjust{
    width: 2rem;
}
.nav-bg{
    background-color: rgb(22, 3, 61);
}
.nav-item{
    font-weight: bold;
    background-color: rgb(255,255,255);
}
.nav-item:hover{
    animation-name: nav-bg-anim !important;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
.nav-link{
    color: rgb(22, 3, 61) !important;
}
.active .nav-link{
    color: rgb(255,255,255) !important;
}
nav .active .nav-link:hover{
    animation-name: none;
}
nav .active{
    border: 0.1em dashed rgb(255,255,255) !important;
    background-color: rgb(22, 3, 61) !important;
}

.navbar-toggler{
    cursor: pointer;
}
.img-size{
    width: 3em;
}
.border-img{
    background-color: rgb(12, 1, 33);
    border-radius: 100%;
}
.footer-bg{
    background-color: rgb(86, 61, 124);
}
.footer-text{
    color: rgb(255,255,255);
}
.lista-sin{
    padding: 0 !important;
    list-style: none;
    text-align: center;
}

.p-listas{
    text-align: center;
    font-weight: 900;
}
.list-icon{
    width: 2rem;
    cursor: alias;
}
.lista-sin a{
    color: rgb(255,255,255);
}

.priv-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.imagen-redes{
    width: 8em;
    padding: 2em;
    cursor: pointer;
}
.imagen-diana{
    width: 12em;
    padding: 2em;
    cursor: pointer;
}
.imagen-redes:hover{
    filter: brightness(50%);
}
.camb-img{
    cursor: pointer;

}
.camb-img:hover{
    filter: brightness(50%);

}
.img-perfil{
    width: 4em;
    border: 0.01em solid grey;
}
.btn{
    cursor: pointer;
}
#perfil-oculto, #perfil-final, #h4-oculto{
    display: none;
}
#backg-content{
    background: linear-gradient(to bottom, rgb(208, 185, 253), rgb(192, 160, 255) 95%, rgb(142, 98, 229));
}
#fondo-copy{
    color: white;
    background: linear-gradient(to bottom, orange, rgb(86, 61, 124));
}
#bg-color-titulo{
    color: rgb(240,240,240);
    background-color:  rgb(22, 3, 61);
    border-bottom: 0.2em dashed white;
}
#bg-bold-titulo{
    font-weight: 400; 
    font-family: title;
}
#rotar-img{
    transform: rotate(180deg);
}
#informacion-general, #contacto-redes, #trabaja-nosotros, #videos-gratuitos, #seccion-premium, #apartado-audios, #diferencias, #historia, #quees, #b12, #b3, #b4, #zurb, #semantic, #pure, #s1, #s2, #s3{
    background: linear-gradient(to bottom, rgb(22, 3, 61), rgb(142, 98, 229) 90%, rgb(208, 185, 253), rgb(142, 98, 229) 90%, rgb(22, 3, 61));
    font-weight: 500;
    color: white;
}
#resultados{
    display: none;
    width: 30em;
    height: 25em;
    margin: 0 auto;
}
#volver-intentar{
    display: none;
    margin: 0 auto;
    margin-top: 2em;
}


#video01, #video02, #video03{
    display: none;
}

.btn-estilo{
    background-color:rgb(86, 61, 124) !important; 
    border-color: rgb(86, 61, 124) !important;
    color: white;
}
.text-estilo{
    color: rgb(86, 61, 124) !important;
}
.border-estilo{
    border-color:  rgb(86, 61, 124) !important;
}

.badge-estilo{
    background-color:rgb(86, 61, 124) !important; 
    border-color: rgb(86, 61, 124) !important;
    color: white;
}

.btn-subestilo{
    background-color:rgb(86, 61, 124) !important; 
    border-color: rgb(86, 61, 124) !important;
    color: white;
}
.text-subestilo{
    color: rgb(86, 61, 124) !important;
}
.border-subestilo{
    border-color:  rgb(86, 61, 124) !important;
}

.badge-subestilo{
    background-color:rgb(86, 61, 124) !important; 
    border-color: rgb(86, 61, 124) !important;
    color: white;
}

.creative{
    width: 5em;
    opacity: 0.8;
}